{% extends 'base.html' %} {% block content%}
    <div class="container" style="background-color: hsl(113, 94%, 33%); border-radius: 8px">
        <div class="row">
         {% for mine in mineInfolist %}
         <div class="col-md-3 m-auto">
             <div class="card" img="center" style="width: auto" >
             <img src="{{mine.image}}" width="90vw"/>
             <div class="card-body">
                <h5 style="text-align: center;">{{mine.name}}</h5>
                <br>
                <h2 style="text-shadow: 12px;">{{mine.stacksize}}</h2>
                <!-- <p>{{mine.description}}</p> -->
                <div style="display:flex; justify-content:center;">
  <a href="{{url_for('api', id=mine.namespacedId)}}" class="btn btn-dark">Detalhes do Bloco</a>
</div>
             </div>
            </div>
         </div>
         {% endfor %}
        </div>
    </div>
{% endblock content%}
