<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <title>The Games</title>
</head>
<body>

    <!-- Cabeçalho -->
    <header style="background-color: #000;">
        <h1 style="text-align: center; color: #fff">The Games</h1>
        <hr>
    </header>

    {% block content %}
    <!-- Aqui irá o conteúdo das outras páginas -->
    {% endblock content %}

    <!-- RODAPÉ -->
    <footer>
        <hr>
        <p style="text-align: center;">Todos os direitos reservados. &reg;</p>
    </footer>
    
</body>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
</html>